*{
    font-family: 'Roboto', sans-serif;
}
h1,h3 {
    text-align: center;
}
h1{ 
    color: #004D74;
}
h3{
    color: #00A6FB;
}
h4{
    color: #0582CA;
    padding-top: 2vw;
}
h5{
    color: #003554;
}
h6{
    text-decoration: underline;
    color: #004164;
}
.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
.check{
    text-align: center!important;
}

.collapsible li.active i {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
  
.collapsible li i {
transition: .1s all linear;
}

img{
    display: block;
    margin: auto;
}
em{
    text-decoration: underline;
}
.parallax{
    opacity: 0.5;
}

nav{
    background-color:#1565c0!important;
}
.page-footer{
    background-color:#1565c0!important;
}
.marge {
    margin-left: 5em;
}
.p5{
    padding-right: 15px!important;
}